* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 20px 'Inter', sans-serif;
    background-color: rgb(253, 253, 253);
    /* background-color: #05ff54; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.nav {
    display: flex;
    flex-direction: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(255, 255, 255);
    /* background-color: #ff04044a; */
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.title h1 {
    margin: 0;
    font-size: 1.5rem;
    /* color: #0e9b7f; */
}

.title h1 span {
    color: #0e9b7f;
}

.img {
    margin-right: auto;
    height: 50px;
    width: 50px;
}
.wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    /* height: 80%; */
}

.container {
    flex-shrink: 1;
    height: 700px;
    background-color: #eeeeee;
    width: 60%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    transition: transform 0.3s ease;
}

.section-1 {
    /* flex-shrink: 1; */
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-2 {
    width: 100%;
}

.common {
    margin: 20px 0;
}
/* .common-checkbox
{
    margin-top: 20px;
    margin-bottom: 20px;
} */

.checkbox {
    display: flex;
}

.title h1 {
    margin: 0;
    font-size: 1.5rem;
    /* color: #0e9b7f; */
}

.title h1 span {
    color: #0e9b7f;
}


label {
    display: block;
    margin-bottom: 10px;
    color: #0e9b7f;
}

input[type="text"], input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

.submit {
    background: #0e9b7f;
    color: white;
    height: 40px;
    width: 15%;
    padding: 10px;
    margin-left: 40%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 40%;
    height: 100%;
    max-width: 600px;
    
    /* background-color: blueviolet; */
} 



.instruction-image {
    height: 200px;
    background-color: rgb(80, 48, 48);
    width: 100%;
    max-width: 400px;
    margin-bottom: -20px;
    margin-top: -20px;
}

 .rules {
    /* margin: 50px; */
    width: 80%;
    height: 50%;
    padding: 20px;

    /* background-color: #eeeeee; */

    border-radius: 30px;

    font-size: 15px;
} 

.rules p {
    margin: 0;
    padding: 5px 0;
    /* background-color: red; */
}

h2 {
    color: #0e9b7f;
    margin-bottom: 10px;
}
select {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    color: grey;
    appearance: none; /* Removes default arrow in some browsers */
}


/* Media Queries for Scaling */
@media (max-width: 1380px) {
    
     body{
        height: 100%;
     }
     

    .submit {

        width: 25%;
    }

    .section-1 {
        /* flex-shrink: 1; */
        flex-direction: column;
        justify-content: center;
    }

    .one, .two {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    
     .container{

        width: 80%;
     }
     input[type="text"], input[type="checkbox"] {
        font-size: 14px;
    }

    .rules {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .img{
        height: inherit;
    }
    .wrapper{
        flex-direction: column-reverse;
     }
    
    .container{
        width: 80%;
     }
     input[type="text"], input[type="checkbox"] {
        font-size: 14px;
    }

    .rules {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 16px;
    }

    .container{
        width: 80%;
     }

    input[type="text"], input[type="checkbox"] {
        font-size: 14px;
    }

    .rules {
        padding: 15px;
    }
}
